.container {
  padding: 2em;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-container button {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  width: 180px;
  font-weight: 700;
  letter-spacing: 1.5px;
  box-shadow: 1px 6px 4px 1px rgba(0, 0, 0, 0.4);
}
